<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Nombre Apellido Art</span>
        <span class="example-spacer"></span>
        
        <!-- Home Button -->
        <button mat-button href="../home/home.component.ts">Home</button>
        
        <!-- About Me Button -->
        <button mat-button href="../about-me/about-me.component.ts">About Me</button>
        
        <!-- My Art Button -->
        <button mat-button href="../my-art/my-art.component.ts">My Art</button>

        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
         </mat-toolbar>
</p>
